
.app {
  background-color: aliceblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand{
  display: flex;
  margin: 0px;
  width: 100%;

  cursor: pointer;
}

.hand-image{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hand-name{
  justify-content: center;
  align-items: center;

}

.btn-circle {
  width: auto;
  height: auto;
  padding: 15px 35px;
  border-radius: 100px;

}

/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* buttons */
.button {
  width: 150px;
  font-weight: bold;
  margin: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

/* finish screen */
.finishscreen{
  color: beige;
}

