.box-duel {
    width: 100%;
    height: 280px;
    margin-top: 20px;
    border: 4px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aliceblue;
    
  }
  
  .definitive-option {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: calc(4vw + 4vh + 2vmin);
  }
  
  .vs {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw + 2vh + 2vmin);
  }

  .winner-text{
    font-weight: bold;
    position: absolute;
    bottom: 65%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    font-size: 30px;
  
  }