.box-duel {
    width: 100%;
    height: 280px;
    margin-top: 20px;
    border: 4px solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: aliceblue;
  }
  
  .definitive-option {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 285%;
    font-weight: 500;
  }
  
  .vs {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
  }

  .winner-text{
    font-weight: bold;
    position: absolute;
    bottom: 65%;
    margin-top: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }