.gamescreen {
    padding: 20px;
    width: 100%;
  }
  
  .gamescreen-hands {
    text-align-last: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .hands-container{
    width: 100%;
    margin-top: 20px;
    
  }