.gamescreen {
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(to right, #24243e, #302b63, #24243e);
    min-height: 100vh;
  }
  
  .gamescreen-hands {
    text-align-last: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .hands-container{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
  }

  .rounds-title {
    margin-top: 20px;
  }