.mainscreen {
    padding: 20px;
    color: aliceblue;
    background-image: linear-gradient(to right, #24243e, #302b63, #24243e);
    min-height: 100vh;
    
  }

.mainscreen-title {
    margin: 0 0 50px;
    font-size: 3em;
    color: aliceblue;
}
  
.mainscreen-menu {
    padding: 20px 10px;
    
}

.gameLogo{
  text-align:center;
  width: 150px;
}

.rounds-selector{
  text-align:center;
  padding-bottom: 20px;
}

.rounds{
  margin-top: 1%;
  width: 50px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  
   opacity: 1;

}
